services:
  backend:
    # Le chemin vers le dossier contenant le Dockerfile
    build: ./app/backend
    container_name: gitdiary-backend
    restart: unless-stopped
    ports:
      # CORRECTION : Mapper le port 8000 au lieu de 3000
      - "8000:8000"
    # Le fichier .env est généré par le workflow GitHub Actions
    env_file:
      - ./app/backend/.env
    networks:
      - gitdiary-network

networks:
  gitdiary-network:
    external: true
